<!-- <h1 class="note-title" data-note-id="{{ id }}"><textarea class="cell-title autosave-textarea">{{ title }}</textarea></h1> -->

<!-- <div class="note-input" data-note-id="{{ id }}"><textarea class="cell-content autosave-textarea">{{ content }}</textarea></div> -->

<div class="note-editor">
    <div contenteditable="true" id="note-title-editor" class="content-editor">
        <div class="cell-title note-title" data-note-id="{{ id }}">
            {{ title }}
        </div>
    </div>
    <div contenteditable="true" id="note-content-editor" class="content-editor">
        <div class="cell">
            <br>
        </div>
    </div>
    <div id="note-toolbar">
        <button id="note-toolbar-h1">h1</button>
        <button id="note-toolbar-h2">h2</button>
        <button id="note-toolbar-hilite">Lite</button>
    </div>
</div>
